* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f9faff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

header .input-field {
  margin-left: 62px;
}

header .input-field svg {
  position: absolute;
}

header .input-field .icon {
  margin-left: 17px;
  padding: 6px;
  color: rgba(37, 101, 192, 0.437104);
}

header .input-field input {
  margin-left: 17px;
  padding-left: 28px;
  width: 214px;
  height: 30px;
  border: 1px solid rgba(76, 141, 235, 0.186481);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.57px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

header .input-field ::-webkit-input-placeholder {
  color: #a0bce4;
}

header .input-field :-ms-input-placeholder {
  color: #a0bce4;
}

header .input-field ::-ms-input-placeholder {
  color: #a0bce4;
}

header .input-field ::placeholder {
  color: #a0bce4;
}

header .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .profile-container .notification {
  min-width: 29px;
  min-height: 22px;
  margin-right: 15px;
  cursor: pointer;
}

header .profile-container .profile {
  min-width: 48px;
  min-height: 48px;
  margin-right: 9px;
  cursor: pointer;
}

.side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 60px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c8deb), to(#4c60eb));
  background: linear-gradient(180deg, #4c8deb 0%, #4c60eb 100%);
  z-index: 2;
}

.side-menu .profile {
  margin-top: 13px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.side-menu ul {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.side-menu ul li {
  padding: 9px;
  list-style: none;
  margin-top: 15px;
}

.side-menu ul li:nth-child(2) {
  background: rgba(35, 80, 188, 0.3);
  border-radius: 5px;
}

.side-menu ul li:hover {
  background: rgba(35, 81, 188, 0.151);
  border-radius: 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: calc(100% - 63px);
  height: 100vh;
  top: 75px;
  left: 63px;
  background-color: #f9faff;
}

.main .main-head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 56px;
}

.main .main-head-wrap h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 15px;
  color: #405169;
  font-size: 28px;
  font-weight: 300;
  line-height: 35.14px;
}

.main .main-head-wrap .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 21px;
  width: 115px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
  background: -webkit-gradient(linear, left top, right top, from(#4c8deb), to(#4c60eb));
  background: linear-gradient(90deg, #4c8deb 0%, #4c60eb 100%);
  -webkit-box-shadow: 0px 2px 12px rgba(76, 141, 235, 0.186481);
          box-shadow: 0px 2px 12px rgba(76, 141, 235, 0.186481);
  -webkit-filter: drop-shadow(0px 2px 12px rgba(76, 141, 235, 0.186481));
          filter: drop-shadow(0px 2px 12px rgba(76, 141, 235, 0.186481));
  cursor: pointer;
}

.main .main-head-wrap .add-button .symbol {
  display: inline;
  padding-top: 3px;
}

.main .main-head-wrap .add-button span {
  padding-left: 5px;
}

.main .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  margin-top: 45px;
  padding-left: 18px;
  width: 97.5%;
  height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
          box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
}

.main .content-header .sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content-header .sorter span {
  color: #405169;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.main .content-header .sorter .arrow {
  margin-left: 8px;
}

.main .content-header .sorter .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content-header .sorter .input-field svg {
  position: absolute;
}

.main .content-header .sorter .input-field .icon {
  margin-left: 17px;
  padding: 6px;
  color: rgba(37, 101, 192, 0.437104);
}

.main .content-header .sorter .input-field input {
  margin-left: 17px;
  padding-left: 28px;
  width: 214px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.57px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main .content-header .sorter .input-field ::-webkit-input-placeholder {
  color: #a0bce4;
}

.main .content-header .sorter .input-field :-ms-input-placeholder {
  color: #a0bce4;
}

.main .content-header .sorter .input-field ::-ms-input-placeholder {
  color: #a0bce4;
}

.main .content-header .sorter .input-field ::placeholder {
  color: #a0bce4;
}

.main .content-header .layout-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 24px;
}

.main .content-header .layout-buttons .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 34.58px;
  height: 34px;
  background: -webkit-gradient(linear, left top, right top, from(#4c8deb), color-stop(98.59%, #4c74ec));
  background: linear-gradient(90deg, #4c8deb 0%, #4c74ec 98.59%);
  -webkit-box-shadow: 0px 2px 12px rgba(76, 141, 235, 0.186481);
          box-shadow: 0px 2px 12px rgba(76, 141, 235, 0.186481);
  border-radius: 5px;
}

.main .content-header .layout-buttons .row {
  margin-left: 9px;
  display: inline;
}

.main .main-content {
  position: relative;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  padding-bottom: 65px;
  width: 97.5%;
  height: 70%;
}

.main .main-content .box {
  position: relative;
  top: 25px;
  width: 301px;
  height: 175px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
          box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
}

.main .main-content .box .row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .main-content .box .row-container .title {
  margin-top: 26px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: 700;
}

.main .main-content .box .row-container .dropdown {
  cursor: pointer;
  margin-right: 18px;
}

.main .main-content .box .dollars-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px auto;
  padding: 0px 15px;
  width: 266px;
  height: 82px;
  background: #f9faff;
  border: 1px solid #dde9fb;
}

.main .main-content .box .dollars-box .balance .balance-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 15.06px;
  color: #405169;
}

.main .main-content .box .dollars-box .balance .balance-amount {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  color: #405169;
}

.main .main-content .box .dollars-box .total .total-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 15.06px;
  color: #405169;
}

.main .main-content .box .dollars-box .total .total-amount {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  color: #405169;
}

.main .main-content .border1 {
  border-top: 3px solid #4c60eb;
}

.main .main-content .border2 {
  border-top: 3px solid #9a7ffa;
}

.main .main-content .border3 {
  border-top: 3px solid #ff9458;
}

.main .main-content .border4 {
  border-top: 3px solid #e35f67;
}

.main .main-content .border5 {
  border-top: 3px solid #9ec84d;
}

.main .main-content .border6 {
  border-top: 3px solid #fa867f;
}

.main .main-content .border7 {
  border-top: 3px solid #cc58ff;
}

.main .main-content .border8 {
  border-top: 3px solid #7693ff;
}

.main .main-content .border1 {
  border-top: 3px solid #4c60eb;
}

.main .main-content .border1 {
  border-top: 3px solid #4c60eb;
}
/*# sourceMappingURL=style.css.map */